@page "/between-rounds"
@inject IModalService modal


<div class="flex-column justify-content-around h-100">
    <BlueButton Text="Build Deck"></BlueButton>
    <p class="m-2">Or</p>
    <BlueButton OnClickCallback=ShowModal Text="Start Next Round" ></BlueButton>
</div>

@code{

    void ShowModal()
    {
        var options = new ModalOptions()
        {
            Class = "blazored-modal-opponent"
        };

        modal.Show<OpponentEntry>("Enter Opponents Name", options);
    }

}

<style>
    .blazored-modal-opponent{
        flex-direction: column;
        z-index: 102;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }
</style>