@page "/life-tracker"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div id="life-tracker">
    <div class="opponent, button-area bg-gradient-to-t from-blue-500 to-blue-300">
        <button @onclick=IncrementOpponentLife class="life-changer"></button>
        <div class="life-total" id="opponent-life">@opponentLifeTotal</div>
        <button @onclick=DecrementOpponentLife class="life-changer"></button>
        <p class="opponent-name">@opponent</p>
    </div>
    <div class="seperator"></div>
    <div class="player, button-area bg-gradient-to-b from-yellow-500 to-yellow-300">
        <button @onclick=DecrementPLayerLife class="life-changer"></button>
        <div class="life-total">@playerLifeTotal</div>
        <button @onclick=IncrementPlayerLife class="life-changer"></button>
        <p class="player-name">@playerName</p>
    </div>
</div>


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private int opponentLifeTotal = 20;
    private int playerLifeTotal = 20;
    private string playerName = "";
    private string opponent = "";
    private DraftTournament tourney;
    private List<Game> games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        playerName = await LocalStorage.GetItemAsync<string>(Constants.PLAYER_NAME);
        opponent = await LocalStorage.GetItemAsync<string>(Constants.OPPONENT_NAME);
        tourney = await LocalStorage.GetItemAsync<DraftTournament>(Constants.TOURNAMENT);
    }

    private void IncrementOpponentLife()
    {
        opponentLifeTotal++;
    }
    private async void DecrementOpponentLife()
    {
        opponentLifeTotal--;
        if (opponentLifeTotal == 0)
        {
            await CheckIfPlayerWin();
        }
    }
    private void IncrementPlayerLife()
    {
        playerLifeTotal++;
    }
    private async void DecrementPLayerLife()
    {
        playerLifeTotal--;
        if (playerLifeTotal == 0)
        {
            await CheckIfOpponentWin();
        }
    }

    async Task CheckIfPlayerWin()
    {
        var formModal = Modal.Show<CheckIfWin>("Record as win for " + playerName);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            opponentLifeTotal++;
            StateHasChanged();
            return;
        }

        await RecordGameResult("Win");

        if (CheckIfMatchOver())
        {
            RecordMatchResult(SetMatchOutcome());
        }
    }

    async Task CheckIfOpponentWin()
    {
        var formModal = Modal.Show<CheckIfWin>("Record as win for " + opponent);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            playerLifeTotal++;
            StateHasChanged();
            return;
        }

        await RecordGameResult("Loss");

        if (CheckIfMatchOver())
        {
            RecordMatchResult(SetMatchOutcome());
        }
    }

    private async Task RecordGameResult(string outcome)
    {
        Game currentGame = new Game()
        {
            Outcome = outcome
        };

        HttpResponseMessage response = await Http.PostAsJsonAsync<Game>(Constants.API_BASE_URL + "Game",currentGame);
        currentGame = JsonConvert.DeserializeObject<Game>(await response.Content.ReadAsStringAsync());

        games.Add(currentGame);

        playerLifeTotal = 20;
        opponentLifeTotal = 20;
        StateHasChanged();
    }

    private async void RecordMatchResult(string outcome)
    {
        Match currentMatch = new Match()
        {
            OpponentName = opponent,
            Outcome = outcome,
            Games = games
        };

        HttpResponseMessage response = await Http.PostAsJsonAsync<Match>(Constants.API_BASE_URL + "Match",currentMatch);
        currentMatch = JsonConvert.DeserializeObject<Match>(await response.Content.ReadAsStringAsync());

        tourney.Matches.Add(currentMatch);
        await LocalStorage.SetItemAsync(Constants.TOURNAMENT, tourney);

        if (tourney.Matches.Count < 4)
        {
            NavigationManager.NavigateTo("/between-rounds");
            return;
        }
        NavigationManager.NavigateTo("/end-of-tournament");
    }

    private bool CheckIfMatchOver()
    {
        int winCount = 0;
        int lossCount = 0;

        foreach(Game game in games)
        {
            if (game.Outcome == "Draw")
            {
                return true;
            }
            if (game.Outcome == "Loss")
            {
                lossCount++;
            }
            if (game.Outcome == "Win")
            {
                winCount++;
            }
        }

        return winCount > 1 || lossCount > 1;
    }

    private string SetMatchOutcome()
    {
        int winCount = 0;
        int lossCount = 0;
        bool drawnGame = false;

        foreach(Game game in games)
        {
            if (game.Outcome == "Draw")
            {
                drawnGame = true;
            }
            if (game.Outcome == "Loss")
            {
                lossCount++;
            }
            if (game.Outcome == "Win")
            {
                winCount++;
            }
        }

        if (drawnGame)
        {
            if (winCount == lossCount)
            {
                return "Draw";
            }
            if (winCount < lossCount)
            {
                return "Loss";
            }
            return "Win";
        }

        if (winCount < lossCount)
        {
            return "Loss";
        }
        return "Win";
    }
}

<style>
    .opponent{
        transform: rotate(180deg);
    }
    #life-tracker{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .seperator{
        height: 40px;
        width: 100%;
        background-color: #000000;	
    }
    .life-total{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 120px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
    }
    .button-area{
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .life-changer{
        height: 100%;
        width: 50%;
        padding: 0px;
        border: none;
        z-index: 2;
        opacity: 0;
    }
    #opponent-life{
        transform: rotate(180deg);
    }
    .opponent-name {
        position: absolute;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0%;
        z-index: 1;
        color: rgb(255,255,255);
    }
    .player-name{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
        transform: rotate(180deg);
        color: rgb(255,255,255);
    }
</style>