@page "/new-tourney"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>New FNM Tourney</PageTitle>
<form id="tourney-info" class="shadow-md flex-column">
    <InLineTextInput Text="Store Name" @bind-Value="lgs"></InLineTextInput>
    <InLineTextInput Text="Set Code" @bind-Value="setCode"></InLineTextInput>
    <BlueButton OnClickCallback=StartNewTourney Text="Start New Tourney"></BlueButton>
</form>

@code {

    private string lgs = string.Empty;
    private string setCode = "SNC";
    private string setCode2 = "WWW";

    private async void StartNewTourney()
    {
        SetLocalStorage();
        NavigationManager.NavigateTo("/between-rounds", true);
    }

    private async void SetLocalStorage()
    {
        string playerID = await LocalStorage.GetItemAsync<string>(Constants.PLAYER_ID);

        Deck deck = new Deck();

        DraftTournament newTourney = new DraftTournament()
        {
            LGS = lgs,
            Date = DateTime.Now,
            PlayerID = playerID,
            SetCode = setCode,
            DeckID = deck.ID,
            Matches = new List<Match>(),
        };

        await LocalStorage.SetItemAsync(Constants.TOURNAMENT, newTourney);
        await LocalStorage.SetItemAsync(Constants.DECK, deck);
    }
}