<div>
    <BlueButton OnClickCallback=RecordWin Text="Yes"></BlueButton>
    <BlueButton OnClickCallback=ResetLife Text="No"></BlueButton>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private void RecordWin()
    {
        ModalInstance.CloseAsync(ModalResult.Ok("Record Win"));
    }

    private void ResetLife()
    {
        ModalInstance.CancelAsync();
    }
}